
@import "tailwindcss";
@import './form.css';
@import './cart.css';
@import './dropdown.css';
@import './table.css';
@import './containers.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --blur-2xs: 2px;
    
}

header {
    @apply bg-neutral-100 border-b-2 border-gray-200 mb-8;
    @apply shadow-lg shadow-neutral-600;
    @apply flex flex-row justify-between items-center;
    @apply text-neutral-800;
}

body {
    @apply bg-neutral-400; 
}
/* Headers */
h1 {@apply text-3xl text-center;}
h2 {@apply text-2xl text-center;}
h3 {@apply text-lg text-center;}


/* Buttons */
a {
    @apply text-red-400 container max-w-full whitespace-nowrap
    justify-self-center 
    border p-1 m-0.5
    hover:bg-gradient-to-t hover:bg-amber-100 hover:to-50%;
}

button {
    @apply text-red-400 whitespace-nowrap cursor-pointer 
    container max-w-full justify-self-center 
    border p-1 mb-0.5 mt-0.5
    hover:bg-gradient-to-t hover:bg-amber-100 hover:to-50%;
}

main {
    @apply justify-self-center min-h-screen max-h-fit min-w-8/10 max-w-9/10 p-5
    bg-white shadow-xl shadow-neutral-600;
}

.content {
    @apply container flex flex-col items-center  rounded-2xl p-5 m-5 border-2 max-w-5/10 ;
    @apply bg-white border-gray-200 shadow-lg shadow-neutral-600;
}

    .content div {
        @apply flex flex-row justify-around;
        
    }

.pagination-controls {
    @apply flex flex-row max-w-fit justify-self-center
}